
.icon-mail:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
